body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 200px;
    height: 300px;
    border: solid;
    display: flex;
    flex-direction: column;
    background: #a2bbcf;
}

.display {
    flex: 1;
    margin: 5px 8px;
    margin: black;
    border: solid;
    display: flex;
    flex-direction: column;
}

.screen-last,
.screen-current {
    flex: 1;
    background-color: #EFEFEF;
    text-align: end;
    padding-right: 5px;
}

.screen-last {
    font-size: small;
    padding-top: 2px;
}

.buttons {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 2px;
    
}

button {
    width: 45px;
    height: 45px;
}

button.clear,
button.delete {
    width: 90px;
    background: #c2d4b1;
}

button.clear {
    margin-left: 5px;
}